<ion-header>

  <ion-navbar>
    <ion-title>Create Ad</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <!-- <div class="profile-image-placeholder" *ngIf="!this.form.controls.image.value"> -->
      <div class="profile-image-placeholder">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <!-- <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.image.value"></div> -->
    </div>
    <ion-list>
        <ion-item *ngFor="let image of this.form.value.images">
          <img [src]="getImgContent(image)" />
        </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Title" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Description" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select formControlName="category" interface="action-sheet" (ionChange)="getSubcatsById($event)">
          <ion-option *ngFor="let category of categories" [value] = "category">{{category.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Subcategory</ion-label>
        <ion-select formControlName="subcategory" interface="action-sheet">
          <ion-option *ngFor="let subcat of subcategories" [value] = "subcat">{{subcat.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>