<ion-header>

  <ion-navbar>
    <ion-title *ngIf="item">{{ item.title }}</ion-title>
    <ion-buttons end *ngIf="!isView">
        <button ion-button color="danger" (click)="deleteAd(item.id)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="item">
  <!-- <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + items.AWS_S3_BASE_URL + item.AdsMedia[0].mediaURL + ')'"> -->
  <div class="item-profile" text-center #profilePic>
    <ion-slides pager="true">
      <ion-slide *ngFor="let image of item.AdsMedia">
          <img [src]="items.AWS_S3_BASE_URL + image.mediaURL" />
      </ion-slide>
    </ion-slides>
  </div>
  
  <div class="item-detail" padding>
    <h2>{{item.title}}</h2>
    <p>{{item.description}}</p>
    <p>Total Views: {{item.views}}</p>
    <p *ngIf="viewUsers.length > 0">Viewed By {{viewUsers.length}} Users,<a (tap)="openViewers()"> Show Viewers</a></p>
    <canvas #chartCanvas></canvas>
  </div>
</ion-content>